<!-- views/fruits/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Index</title>
  </head>
  <a href="/">Home</a>
  <a href="/profile/new">Sign-Up</a>
  <a href="">Sign out</a>
  <body>
    <h1>Your Woof's Profile</h1>
    <ul>
      <% profile.forEach(profile => { %>
        <h2>
            <a href="/profile/<%= profile._id %>"> <%= profile.name %> </a>
            <h3><%= profile.age %></h3>
            <h3><%= profile.breed %></h3>
            <h3><%= profile.likesAndDislikes %></h3>
            <h3><%= profile.friendlyToStrangers %></h3>
        </h2>
      <% }); %>
    </ul>
  </body>
</html>
